.container-navbar{
  width: 100%;
  height: auto;
  background-color: var(--red-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}
.container-navbar .user{
  width: 85%;
  height: 50px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding:  0px 25px;
}
.container-navbar .user .register{
  font-size: var(--content);
  color: var(--title-subtitle);
  margin: 0 15px;
  text-decoration: none;
}
.container-navbar .user .register:hover{
  text-decoration: underline;
  color: var(--red);
}
.container-navbar .user .item-user{
  width: 24px;
  height: auto;
  cursor: pointer;
  transform: scale(100%);
  transition: transform .3s linear;
}
.container-navbar .user .item-user:hover{
  transform: scale(110%);
  border-radius: 50%;
}
.container-navbar .items-links{
  width: 85%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-navbar .items-links .logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
.container-navbar .items-links .logo .logoz{
  width: 30px;
  height: 30px;
}
.container-navbar .items-links .logo .mercurio{
  font-size: 30px;
  font-family: var(--logo);
  color: var(--red);
}
.container-navbar .items-links .navbar{
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
}
.container-navbar .items-links .navbar .link{
  padding: 28px 25px;
  color: var(--title-subtitle);
  font-size: var(--content);
  text-decoration: none;
  transition: all .5s;
  border-bottom: 2px solid transparent;
  z-index: 10;
}
.container-navbar .items-links .navbar .link:hover{
  color: var(--red);
  border-bottom: 2px solid var(--red);
}
