:root{
  --red-light: #FFE8E8;
  --red: #DA2E29;
  --title-letter: #0000;
  --opacity: #000000ce;

  /* Variable de sombras cajas */

  --shadow-opacity:rgba(22, 22, 22, 0.2);
  --box-shadow: 1px 2px 8px var(--shadow-opacity);

  --title-subtitle: #2c2c2c;
  --title-content: #A5A5A5;
  --letter-cta-demo: #ffff;
  --letter-start: #2c2c2c;
}
