@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Poppins:wght@300;400;600&display=swap');

:root{

  /* letter family */

    --paragraph: 20px;
    --title-paragraph-card: 14px;

    --title: 55px;
    --sub-title-section: 30px;
    --subtitle: 20px;
    --content: 15px;

  /* font-weight */

    --bold: 600;
    --medium:400;
    --light: 300;

  /* font family */

    --logo: 'Eagle Lake', cursive;
    --font-family: 'Poppins', sans-serif;
}
